<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cisa.tmshmo" version="1.4.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TMS Hmo</name>
    <description>TMS Hmo</description>
    <author email="jacruz@ci-sa.com.mx" href="https://ci-sa.com.mx">
        Jose Antonio Cruz Romero
    </author>
   
    <content src="splash.html" />
    <content original-src="splash.html" />

    <access origin="*" />
    <access origin="cdvfile://*" />
    
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <preference name="StatusBarBackgroundColor" value="#1E9FB4" />
        <preference name="orientation" value="portrait" />
        <preference name="iosExtraFilesystems" value="library,library-nosync,documents,documents-nosync,cache,bundle,root" />
        <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,assets,root" />
        <preference name="AndroidPersistentFileLocation" value="Internal" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <preference name="AndroidInsecureFileModeEnabled" value="true" />
        <preference name="StatusBarOverlaysWebView" value="false" />

        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/icon/android/icon.png"/>
        <preference name="AndroidWindowSplashScreenBackground" value="#155169" />
        <preference name="AndroidWindowSplashScreenDuration" value="1000" />

            <icon src="res/icon/android/playstore.png" density="mdpi" />
            <icon src="res/icon/android/playstore.png" density="hdpi" />
            <icon src="res/icon/android/playstore.png" density="xhdpi" />
            <icon src="res/icon/android/playstore.png" density="xxhdpi" />
            <icon src="res/icon/android/playstore.png" density="xxxhdpi" />

    </platform>

</widget>
