body{
    padding:0;
    margin:0;
    width:100%;
    height:100vh;
  }
  main {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    background: #124f90;
    /* background-image: url("./../img/screen/screen.png") */
  }
  
  .dank-ass-loader {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
  }
  .dank-ass-loader .row {
    display: -webkit-box;
    display: flex;
  }
  .loader-title{
    margin-top: 100px;
    color: white;
    font-family: sans-serif;
    font-size: 35px;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
  }
  .loader-image{
    width: 80vw;
    margin-bottom: 30vw;
  }
  #contenedor {
    width:200px;
      height:200px;
  }
  .loader:before,
  .loader:after,
  .loader {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
  }
  .loader {
    margin: 8em auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    -webkit-animation-delay: 0.16s;
    animation-delay: 0.16s;
  }
  .loader:before {
    left: -3.5em;
  }
  .loader:after {
    left: 3.5em;
    -webkit-animation-delay: 0.32s;
    animation-delay: 0.32s;
  }
  .loader:before,
  .loader:after {
    content: '';
    position: absolute;
    top: 0;
  }
  @-webkit-keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em #ffffff;
    }
    40% {
      box-shadow: 0 2.5em 0 0 #FFF;
    }
  }
  @keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em #ffffff;
    }
    40% {
      box-shadow: 0 2.5em 0 0 #FFF;
    }
  }